body{
    padding: 0px;
    margin: 0px;
}
fieldset{
    margin-top: 70px;
    width: 27%;
    background-color: #318CE7;
    box-shadow: 5px 5px 20px 1px 10px rgb(85, 85,85);
    border: 0px;
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    height: 430px;
}
td{letter-spacing: 1px;}
h1{
    font-family: andalus;
    letter-spacing: 3px;
    text-align: center;
    color:white
}
hr{
    border:5px solid white;
    border-radius: 10px;
    width: 40%;
}
ul li{margin-left:20px;color:white;}
#submit{
    margin:20px 35px;
    color:#318CE7;
    background-color: white;
    width: 80%;
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px;
    
}
#submit:hover{
    color: white;
    background-color: #318CE7;
}
input{
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
}
/*tableau*/
.domaineCompétence table{
    width: 50%;
   
}
.domaineCompétence table td, .domaineCompétence table th{
padding: 10px 20px;
border :1px solid #283645;
width: 16.66%;
}